/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;
 *{
     cursor: default;
    -webkit-user-select:none;
 }
 #titleBar{
    background-color:rgb(222, 222, 222);
    position:fixed;
    width:100%;
    height:40px;
    -webkit-app-region: drag;
    -webkit-user-select:none;
}
#closeBtn{
    background: url("./Ctl_none.png");
    display: block;
    width: 20px;
    height: 20px;
    margin-top:10px;
    margin-left: 8px;
    background-size:20px 20px;
    background-repeat:no-repeat;
    -webkit-app-region: no-drag;
    transition: all 0.1s ease-in-out;
    float: left;
}
#closeBtn:hover{
    background: url("./Ctl_close.png");
    background-size:20px 20px;
    background-repeat:no-repeat;
}
#minSizeBtn{
    background: url("./Ctl_none.png");
    display: block;
    width: 20px;
    height: 20px;
    margin-top:10px;
    margin-left: 8px;
    background-size:20px 20px;
    background-repeat:no-repeat;
    -webkit-app-region: no-drag;
    transition: all 0.3s ease-in-out;
    float: left;
}
#minSizeBtn:hover{
    /* background-color: rgb(255, 206, 109);*/
    background: url("./Ctl_min.png");
    background-size:20px 20px;
    background-repeat:no-repeat;
}
#maxSizeBtn{
    display: block;
    width: 20px;
    height: 20px;
    margin-top:10px;
    margin-left: 8px;
    background: url("./Ctl_none.png");
    background-size:20px 20px;
    background-repeat:no-repeat;
    -webkit-app-region: no-drag;
    transition: all 0.1s ease-in-out;
    float: left;
}
#maxSizeBtn:hover{
    background: url("./Ctl_max.png");
    background-size:20px 20px;
    background-repeat:no-repeat;
}
#titleText{
    position: absolute;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-family: "Microsoft YaHei";
    font-size:18px;
    pointer-events: none;
}
#rt{
    margin-top:40px;
    display: block;
    position: fixed;
}
 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
 